body { 
    max-width: 840px;
    width: 100%;
}


h1{
    font-family: "Nunito Sans";
}

h2{
    font-family: "Nunito Sans";
}


dl,
div,
p {
    font-size: 28px;
    line-height: 1.6em;
    font-family: "Droid Serif";
}



dl,
p {
    margin-top: 10px;
    margin-bottom: 10px;
}

pre {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(39, 23, 23);
}