html {
    margin-left: auto;
    margin-right: 400px;
}


.h1{
    font-family: "Nunito Sans";
}

.h2{
    font-family: "Nunito Sans";
}


dl,
div,
p {
    font-size: 24px;
    line-height: 1.8em;
    font-family: "Droid Serif", Georgia, serif;
}


dl,
p {
    margin-top: 10px;
    margin-bottom: 10px;
}

pre {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(39, 23, 23);
}